
/TestOdf/bin/Debug/Ionic.Zip.dll
/TestOdf/bin/Debug/System.Data.SQLite.dll
/TestOdf/bin/Debug/TestOdf.exe
/TestOdf/bin/Debug/TestOdf.pdb
/TestOdf/bin/Debug/TestOdf.vshost.exe
/TestOdf/bin/Debug/TestOdf.vshost.exe.manifest
/TestOdf/bin/Debug/TestOdf.xml
/TestOdf/bin/Debug/northwindEF.db
/TestOdf/bin/x86/Debug/Ionic.Zip.dll
/TestOdf/bin/x86/Debug/System.Data.SQLite.dll
/TestOdf/bin/x86/Debug/TestOdf.exe
/TestOdf/bin/x86/Debug/TestOdf.pdb
/TestOdf/bin/x86/Debug/TestOdf.vshost.exe
/TestOdf/bin/x86/Debug/TestOdf.xml
/TestOdf/bin/x86/Debug/northwindEF.db
/TestOdf/obj/Debug/ResolveAssemblyReference.cache
/TestOdf/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
/TestOdf/obj/Debug/TestOdf.Form1.resources
/TestOdf/obj/Debug/TestOdf.Resources.resources
/TestOdf/obj/Debug/TestOdf.exe
/TestOdf/obj/Debug/TestOdf.pdb
/TestOdf/obj/Debug/TestOdf.vbproj.FileListAbsolute.txt
/TestOdf/obj/Debug/TestOdf.vbproj.GenerateResource.Cache
/TestOdf/obj/Debug/TestOdf.xml
/TestOdf/obj/x86/Debug/TempPE/My Project.Resources.Designer.vb.dll
/TestOdf/obj/x86/Debug/TestOdf.Form1.resources
/TestOdf/obj/x86/Debug/TestOdf.Resources.resources
/TestOdf/obj/x86/Debug/TestOdf.exe
/TestOdf/obj/x86/Debug/TestOdf.pdb
/TestOdf/obj/x86/Debug/TestOdf.vbproj.FileListAbsolute.txt
/TestOdf/obj/x86/Debug/TestOdf.vbproj.GenerateResource.Cache
/TestOdf/obj/x86/Debug/TestOdf.xml
/TestOdf.suo
/TestOdf/TestOdf.vbproj.user
/TestOdf/bin/x86/Debug/TestOdf.vshost.exe.manifest